<%- include("partials/header") -%>

  <div class="compose-body">
    <h1>Compose</h1>
    <form class="post-form" action="/compose" method="post">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" class="form-control" name="postTitle" autocomplete="off" required="on">
      </div>
  
      <div class="form-group">
        <label for="post-content">Post</label>
        <textarea id="post-content" class="form-control" name="postBody" rows="5" required="on"></textarea>
      </div>

      <button class="btn btn-primary" type="submit">Publish</button>
    </form>
  </div>

  <%- include("partials/footer") -%>